
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

body{
    background-color: rgb(244, 244, 244);
    font-family: 'PT Serif', serif;
}


img{
    width: 100%;
    border-radius: 6px;
}


a {
    background-color: #ffc4e5; /* Pink */
    color: white;/*biały napis action*/
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
  }

  /*strona główna*/
  .hero{
    background: #c8c8c8;
    color: white;
    text-align:center;
    padding: 6rem 0;
   
    
  }

  .card{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    
    

  }

  

  .cta{
    padding: 10rem 0;
    text-align: center;
    background-size: cover;

  }
   
  
  .color-change{
    background-color: rgb(233, 233, 233);
    padding: 6rem 2rem;
  }

  @media only screen and (max-width: 768px){
    .hero{
      background-color: #aaaaaa;
    }
    .grid{
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      padding: 2rem;
    }
  }
 

  .pasek{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;

  }